body {
  margin: 3em;
  padding: 0;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

li a {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  margin: 0 15px 15px 0;
  border-radius: 18px;
  border: 3px solid black;
}

li img {
  display: inline-block;
  width: 30px;
  height: 30px;
  /* margin: 0 15px 15px 0; */
  /* border-radius: 18px; */
  border: 3px solid black;
}

h1 {
  line-height: 1.25;
  margin: 1em 0 0;
}
p {
  margin: 0.5em 0;
}

.switcher {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.red {
  background-color: red;
}

.white {
  background-color: white;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.hotPink {
  background-color: #ff1d58;
}

.limeGreen {
  background-color: limegreen
}

.camera {
  background-image: url(https://images.pexels.com/photos/15225868/pexels-photo-15225868.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}












